$lightBlue: #03A9F4
$cyan: #00BCD4
$teal: #009688

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

@font-face
	font-family: 'roboto'
	src:  url('./Roboto.ttf') format('truetype')
	font-weight: 600
	font-style: normal
	  
body
	font-family: 'roboto'
	margin: 0
	padding: 0
	max-width: 100hv
 
.appbar
  button
    color: white

.alert.alert-danger
  background-color: #ff7961

.alert.alert-success
  background-color: #009688

.buffer-right
	margin-right: 10px

.task-todo
	color: $lightBlue

.task-done
	color: $cyan
	
.task-doing
	color: $teal